.bannerHome_items{
    position: relative;
}

.bannerHome_style1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bannerHome_item {
    margin-top: 8rem;
    margin-bottom: 25px;
    width: 92%;
    height: auto;
}

.bannerHome_style2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 4%;
    // position: relative;
}

#bannerSecondaryHome_item{
    margin-top: -32rem;
    border-radius: 15px;
}

.anuncied_items_banner{
    // background-color: rgb(36, 33, 33);
    width: 465px;
    height: 250px;
    border-radius: 8px;
    position: absolute;
    margin-left: -47rem;
    margin-top: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#text_banner_home {
    color: rgb(24, 10, 41);
    font-size: 18px;
    font-weight: 200;
    background-color: #FFF;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    width: 280px;
    margin-top: -5rem;
    
}