
.container_sweeper_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_sweeper_style {
    // background-color: rgb(194, 18, 18);
    width: 90%;
    height: 100%;
    margin-top: 8rem;
    border-radius: 8px;
    margin-bottom: 4rem;
}

// .banner_position {
//     background-color: #FFF;
//     width: 100%;
//     height: 100%;
// }

.bannerImageCard {
    width: 100%;
    height: 100%;
    position: absolute;
}

.subBanner_position {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bannerImageCard2 {
    position: relative;
    width: 650px;
    border-radius: 8px;
}

.slide{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: #FFF;
    width: 100%;
    height: 425px;
    border-radius: 8px;
    cursor: pointer;
}

.text_title_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_title_style {
    width: 285px;
    border-radius: 8px;
    background-color: rgb(3, 7, 61);
    color: #FFF;
    position: relative;
}