
.bg_items {
    font-family: "Nunito",sans-serif;
    text-rendering: optimizeLegibility;
}

.cards_class_all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_title_home_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_title_home_style {
    // background-color: rgb(124, 3, 3);
    width: 90%;
    height: 100px;
    border-radius: 8px;
}

.title_class {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    width: 185px;
    // margin-bottom: 18px;
}

.moreItemClass {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -22px;
    margin-right: 8px;
    cursor: pointer;
}

#seta_class_icon {
    margin-left: 8px;
    width: 12px;
}

#itemClassLink {
    text-decoration: none;
    outline: none;
}

.textClassLink {
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
}

.subTextCardClassItem {
    margin-top: 18px;
}

.subTextCardClass {
    color: rgb(188, 188, 188);
    font-weight: normal;
}

.cards_class_style {
    // background-color: rgb(124, 3, 3);
    width: 90%;
    height: 290px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.card_class_home_items {
    width: 240px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(56, 52, 69);
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    opacity: 75%;
}

.card_class_home_items:hover {
    transform: translateY(-15px);
    transition: all 0.4s ease;
    opacity: 100%;
}

.number_card_class {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: -95px;
}

#banner_card_class_home {
    border-radius: 8px 8px 0 0;
    background-size: cover;
    width: 100%;
    height: 190px;
}

.text_card_class_title {
    width: 100%;
    height: 80px;
    // background-color: rgb(56, 52, 69);
    position: relative;
    border-radius: 0 0 8px 8px;
    // margin-top: -34px;
}

.tile_video_class {
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
}

.card_progress_class_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_progress_class_styles {
    width: 90%;
    height: 50px;
    border-radius: 8px;
    // background-color: rgb(160, 67, 5);
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.progress_bar_class{
    width: 80px;
    height: 5px;
    border-radius: 8px;
    background-color: rgb(6, 1, 22);
    margin-top: 20px;
}

.bagde_card_class_items {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.bagde_class_styles {
    // background-color: rgb(98, 155, 6);
    width: 80px;
    height: 46px;
    border-radius: 8px;
    margin-top: -24px;
    position: relative;
}

.count_bagde_container {
    // background-color: #c4c4c4;
    width: 25px;
    margin-top: 15px;
    display: inline-block;
}

#count_badge_class {
    color: #FFF;
    // margin-top: 12px;
    // display: inline-block;
}

.bagde_icon_container {
    margin-left: 40px;
    margin-top: -20px;
}

#badge_icon_class {
    width: 28px;
    margin-top: -5px;
}