.header_styles {
    position: fixed;
    transition: all 0.3s ease-in-out 0s;
    border-bottom: 1px solid rgb(56, 52, 69);
    background-color: rgb(24, 10, 41);
    width: 100%;
    height: 65px;
}

#header_logo_home { 
    margin: 16px 10px;
}