.header_styles {
    position: fixed;
    top: 0px;
    height: 75px;
    width: 100%;
    z-index: 10;
    background-color: rgb(24, 10, 41);
    transition: all 0.6s ease 0s;
}

#header_logo_home { 
    margin: 16px 10px;
}