.body_items_video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    font-family: "Nunito",sans-serif;
    text-rendering: optimizeLegibility;
}

.body_items_style {
    // background-color: rgb(70, 64, 64);
    width: 900px;
    height: 308vh;
    border-radius: 8px;
    // margin-top: 6rem;
    margin-bottom: 25px;
}

.body_description_items {
    top: 60px;
    height: 60px;
    font-size: 15px;
    width: 100%;
    padding: 0px 28px;
}

.kBoKDO {
    // width: 785px;
    // height: 50px;
    margin: 0px auto;
    position: sticky;
    z-index: 9;
    // display: flex;
    // -webkit-box-pack: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // align-items: center;
    background: rgb(245, 247, 249);
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    color: rgb(42, 0, 79);
    border-radius: 0px;
    border-bottom: 1px solid rgb(220, 224, 228);
    top: 75px;
    height: 75px;
    padding-top: 100px;
    // padding-bottom: 50px;
}

.content_items {
    margin-top: -100px;
}

#header_text {
    margin-left: 35px;
    margin-top: -36px;
}

#style_score {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -25px;
}

.container_questions_style {
    background-color: rgb(245, 247, 249);;
    border-bottom: solid 1px rgb(220, 224, 228);
    cursor: pointer;
    width: 100%;
    height: 385px;
    border-radius: 8px 8px 0 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.question_title_items {
    display: flex;

}

.question_number {
    color: rgb(137, 131, 153);
    font-weight: 500;
    font-size: 20px;
    width: 30px;
}

.question_text {
    
    color: rgb(42, 0, 79);
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
}

.video_preview_items {
    display: flex;
    align-items: center;
    justify-content: center;

}

.video_preview_style {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    border: thin solid rgb(230, 238, 244);
    width: 95%;
    height: 65px;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.check_icon {
    background-image: url('/src/assets/images/check-answer-correct.a7d570ed.svg');
    visibility: visible;
}

.video_preview_style:active {
    border: 1px solid rgb(4, 196, 4);
    transition: all 0.3s ease-in-out 0s;
    
}

#question_response {
    font-size: 15px;
    font-weight: 400;
    padding: 0px 32px;
    color: rgb(42, 0, 79);
}

.subtitle_preview_items {
    margin-top: 8px;
    width: 100%;
    height: 25px;
}

#play_preview_item {
    background: none;
    border: none;
    cursor: pointer;
}

.subtext_video_preview {
    color: black;
    font-size: 15px;
    margin-left: 26px;
    display: flex;
    margin-top: -25px;
    margin-left: 35px;
}

.subtext_video_preview strong {
    text-decoration: underline;
    padding-right: 5px;
    padding-left: 5px;
}