.video_card_items {
    font-family: "Nunito",sans-serif;
    text-rendering: optimizeLegibility;
}

.video_card_style {
    // background-color: rgb(73, 4, 4);
    width: 100%;
    height: auto;
}

#banner_video_style {
    width: 100%;
    height: 100%;
    // display: -webkit-box;
}

.video_card_style_gradient {
    background: linear-gradient(180.03deg, rgba(24, 10, 41, 0.4) 0.07%, rgba(24, 10, 41, 0.4) 72.7%, rgb(24, 10, 41) 91.86%);
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;   
}

#button_play_video {
    cursor: pointer;
}

.time_video_style {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time_video_informations {
    // background-color: rgb(73, 68, 68);
    width: 95%;
    height: 176px;
    border-radius: 5px;
    margin-top: -10rem;
    position: relative;
}

#video_text {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 32px;
}

.video_progress_bar {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 96%;
    margin: 0px;
}

.video_porcentage {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #FFF;
    margin-top: -10px;
}

.progress_bar_items {
    margin-bottom: 25px;
}

.description_video_style {
    // background-color: rgb(57, 4, 117);
    width: 100%;
    height: 70px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

#play_less_video {
    margin-top: 32px;
    margin-right: 15px;
}

.description_video_bottom {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-left: 26px;
    margin-top: -20px;
    width: 285px;
}

.items_fav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -38px;
}

.items_fav_video {
    // background-color: rgb(56, 3, 3);
    width: 55px;
    height: 55px;
    border-radius: 8px;
}

.fav_item {
    margin-bottom: 8px;
    cursor: pointer;
}

// .fav_item:after {
//     background-image: url('/src/assets/images/fav-flag-toggled.1b8fb855.svg');
// }

#text_fav {
    color: #FFF;
    font-size: 12px;
    margin-top: 8px
} 